.App {
  font-family: "Dangrek", cursive;
  background-image: linear-gradient();
  color: white;
}

.App .weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );

  border: 1px solid white;
  border-radius: 15px;
}
.App .weather-app {
  padding: 20px 5px 20px 20px;
}
